.carpetContainer {
  position: relative;
}

.carpetInfo {
  display: grid;
  grid-template-rows: auto 1fr 120px;
  row-gap: 20px;
  width: 90%;
  text-align: left;
  position: relative;
  height: 100%;
  max-height: calc(100vh - 100px);
}

.carpetSpecifications {
  position: relative;
  display: flex;
  position: absolute;
  bottom: -14px;
  column-gap: 10px;
}
.carpetSpecifications > ul:first-child {
  color: #000;
}
.carpetSpecifications > ul:first-child {
  color: #999;
}

.backButton {
  position: fixed;
  top: 100px;
  left: 20px;

  width: auto;
  height: 40px;
  z-index: 14;
  margin: 10px;
  animation-name: none;
  animation-iteration-count: 3;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  pointer-events: all;
}

.backButton > img {
  position: fixed;
  height: inherit;
  display: inline-block;
}

.description {
  overflow-y: scroll;
}

.buyButton {
  position: fixed;
  bottom: 20px;
  right: 100px;
}

@media only screen and (max-width: 1180px) {
  .carpetInfo {
    max-height: unset;
    grid-template-rows: auto 1fr 120px;
  }
}

@media only screen and (max-width: 600px) {
  .backButton {
    bottom: 20px !important;
    left: 8px !important;
    display: none;
  }

  .buyButton {
    position: fixed;
    bottom: 15px;
    right: 50px;
  }
}
