.carpetContainer {
  position: relative;
  position: relative;
  min-height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carpetInfo {
  width: 100%;
  margin-bottom: 5px;
}

.carpetSpecifications-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Spaces items evenly across the available width */
  align-items: center; /* Vertically centers the items */
  height: 80px;
}

.carpetSpecifications {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.carpetSpecifications .key {
  font-size: var(--small-font-size);
  margin-right: 3px;

  position: relative;
  top: -6px;
}

.backButton {
  position: absolute;
  top: 80px;
  left: 10px;

  width: auto;
  height: 40px;
  z-index: 14;
  margin: 10px;
  animation-name: none;
  animation-iteration-count: 3;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  pointer-events: all;
}

.backButton > img {
  position: fixed;
  height: inherit;
  display: inline-block;
}

.imagegrid-media img,
.imagegrid-media video {
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.imagegrid-row {
  display: grid;
  gap: 15px;
  margin-bottom: 5px;
}

.buyButton {
  position: fixed;
  top: 135px;
  right: 20px;
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.noCarpet-wrapper {
  margin-top: 50px;
  /* background-color: #f7f7f7; */
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.noCarpet {
  width: 100%;
  /* background: green; */

  display: flex;
  align-items: center;
}
.yarn-emoji {
  position: relative;
  font-size: calc(var(--large-font-size) * 2);
  width: auto;
  height: 80px;

  animation: roll 25s ease-in-out infinite;
  line-height: 1.5;
}
.noCarpet-notice {
  font-size: var(--small-font-size);
  text-align: center;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 0%;
  }
  50% {
    transform: rotate(1720deg);
    left: 93%;
  }
  100% {
    transform: rotate(0deg); /* Complete the full rotation */
    left: 0%;
  }
}

@media only screen and (max-width: 820px) {
  .imagegrid-row {
    grid-template-columns: 1fr !important;
    width: 100%;
  }
  .imagegrid-media {
    margin-bottom: 10px;
  }

  .carpetSpecifications {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
  }
  .carpetSpecifications div {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }
  .carpetSpecifications .key {
    /* top: 0; */
    line-height: var(--medium-line-height);
  }
  .carpetSpecifications-wrapper {
    align-items: end; /* Vertically centers the items */
    margin-bottom: 20px;
  }

  .imagegrid-row {
    gap: 10px;
    margin-bottom: 5px;
  }

  .yarn-emoji {
    animation: roll 12s ease-in-out infinite;
    line-height: 1.5;
  }

  .buyButton {
    position: fixed;
    top: 115px;
    right: 20px;
  }

  @keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 0%;
    }
    50% {
      transform: rotate(620deg);
      left: 80%;
    }
    100% {
      transform: rotate(0deg); /* Complete the full rotation */
      left: 0%;
    }
  }
}
