.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure heading stays at top, and form takes remaining space */
  width: 90%;
  height: 100%;
}

.commissions form {
  padding: 5px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.alignTop {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.alignBottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: auto; /* Pushes alignBottom to the bottom */
  position: relative;
  top: var(--textOffset);
}

.submitButton {
  top: calc(var(--textOffset) / 2);
  position: relative;
}

.commissions input,
.commissions input:focus {
  border-bottom: 1.5px solid #000;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  text-transform: uppercase;
  width: 100%;
  color: #000;
}
.commissions input::placeholder {
  color: #999998;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
}

.checkbox {
  width: 25px !important;
  height: 25px !important;
  border: 2px solid #000 !important;
  margin-left: 10px;
  position: relative;
}

.checkbox:checked {
  border: 2px solid #000;
}

.checkbox:checked::after {
  content: "🧶";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 30px;
  text-align: center;
  transform: translate(-28%, -10%);
  color: #fff;
  text-align: center;
  line-height: 25px;
}

@media only screen and (max-width: 1180px) {
  .commissions input {
    border-radius: 0;
  }

  .formWrapper {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .alignBottom {
    top: unset;
    align-items: unset;
  }

  .formWrapper {
    margin-top: 20px;
  }
}
