.carpetContainer {
  position: relative;
}

form.commissioninfo-wrapper {
  display: block;
}

.commissioninfo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.backButton {
  position: absolute;
  top: 80px;
  left: 10px;

  width: auto;
  height: 40px;
  z-index: 14;
  margin: 10px;
  animation-name: none;
  animation-iteration-count: 3;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  pointer-events: all;
}

.backButton > img {
  position: fixed;
  height: inherit;
  display: inline-block;
}

input,
input:focus {
  border-bottom: 1.5px solid #000 !important;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  text-transform: uppercase;
  width: 100%;
  color: #000;
}
input::placeholder {
  color: #999998;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
}

.checkboxContainer {
  display: flex;
  align-items: flex-end;
}
.checkbox {
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #000 !important;
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.checkbox:checked {
  border: 2px solid #000;
}

.checkbox:checked::after {
  content: "🧶";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 30px;
  text-align: center;
  transform: translate(-55%, -25%);
  color: #fff;
  text-align: center;
  line-height: 25px;
}

.submission-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

@media only screen and (max-width: 820px) {
  .commissions input {
    border-radius: 0;
  }

  .submitButton {
    top: unset;
    padding: unset;
  }
  .commissioninfo {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}
