.imageGallery {
  overflow: scroll;
  border-radius: 10px;
  position: relative;

  height: 100%;
}

.imageGallery > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.errorText {
  margin: 10px;
  margin-top: 80px;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.imageNavigation {
  position: absolute;
  right: 20px;
  width: 20px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.imageButton {
  display: inline-block;
  background: #999999;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
}
.imageButton:hover {
  background: #fff;
  transform: scale(2);
  transform-origin: center;
}

.imageContainer {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

@media only screen and (max-width: 1180px) {
  .imageGallery {
    height: auto;
  }
  .imageContainer {
    overflow: unset;
  }
}

@media only screen and (max-width: 600px) {
  .imageGallery {
    overflow: unset;
  }
}
