.cursorImage > img {
  position: fixed;
  height: 40px;
  width: auto;

  transform: translate(-50%, -50%);
  z-index: 30;
  pointer-events: none;
  transform-origin: center middle;

  animation-duration: 0.4s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

.cursorImage > img.pulseCursor {
  animation-name: pulseCursor;
}

.copyrightNotice {
  transform: rotate(-90deg) translateX(50%);
  display: inline-block;
  position: fixed;
  bottom: 10px;
  z-index: 19;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

@keyframes pulseCursor {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media only screen and (max-width: 1180px) {
  .copyrightNotice {
    display: none;
  }
}
