.openingPage {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  opacity: 1;
  transition: top 1s cubic-bezier(0.66, -0.01, 0.27, 0.99);
  z-index: 20;
  top: 0;
  left: 0;
}
.openingPage.close {
  top: -100vh;
}
