.openingPage {
  width: 100vw;
  height: 100vh;
  background: #fd2e00;
  position: fixed;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 20;
  top: 0;
  left: 0;
}
.openingPage.hidden {
  opacity: 0;
  pointer-events: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  background: #fd2e00;
  color: #000;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

#loading > span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
