@charset "UTF-8";

@font-face {
  font-family: "Founders";
  src: url("/assets/fonts/Founders-Grotesk-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "FoundersMedium";
  src: url("/assets/fonts/Founders-Grotesk-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "FoundersSemibold";
  src: url("/assets/fonts/Founders-Grotesk-Semibold.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  scrollbar-width: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  box-sizing: border-box;
}

*::-webkit-scrollbar {
  scrollbar-width: none;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 0;
  height: 0;
}

:root {
  --small-font-size: 20px;
  --medium-font-size: 40px;
  --large-font-size: 90px;

  --small-line-height: 1;
  --medium-line-height: 35px;
  --large-line-height: 67px;

  --background-color: #fff;
  --font-color: #000;
}

*:hover {
  cursor: none !important;
}

body {
  background: #fff;
  transition: background 0.5s ease-in-out;
  font-family: Founders;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  overflow-x: hidden;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

input:focus {
  border: 0;
  outline: none;
}

button {
  background: transparent;
  border: 0;
}

h1,
h1 {
  font-size: var(--large-font-size);
  line-height: var(--large-line-height);
  padding: 0;
  margin: 0;
  font-family: FoundersMedium;
  margin-top: -8px;
}

.pageContainer {
  position: absolute;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.copyrightNotice {
  transform: rotate(-90deg) translateX(50%);
  display: inline-block;
  position: fixed;
  bottom: 10px;
  z-index: 19;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce-in {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  60% {
    transform: scaleX(2) scaleY(2);
  }
  80% {
    transform: scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: scaleX(2) scaleY(2);
  }
}

@keyframes bounce-out {
  0% {
    transform: scaleX(2) scaleY(2);
  }
  60% {
    transform: scaleX(0.8) scaleY(0.8);
  }
  80% {
    transform: scaleX(1.2) scaleY(1.2);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.pistolContainer,
.videoContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  top: 0px;
  left: 0px;
}
.commissions,
.carpetContainer,
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.customButton img {
  height: 42px;
  width: auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.customButton {
  animation-name: none;
  animation-iteration-count: 3;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.customButton:hover {
  animation-name: wiggle;
}
.description {
  padding: 10px 0px;
}

/* Media Query for max-width: 1180px */
@media only screen and (max-width: 1180px) {
  *:hover {
    cursor: default !important;
  }
  .cursorImage {
    display: none;
  }

  .commissions,
  .carpetContainer {
    grid-template-columns: 1fr;
  }

  .pageContainer {
    /* height: 100%; */
    overflow: unset;
  }
  .carpetInfo {
    height: auto;
    margin-top: 20px;
  }

  .desktop {
    display: none;
  }
  .pageContainer {
    /* height: auto; */
    overflow: unset;
  }
}

/* Media Query for max-width: 600px */
@media only screen and (max-width: 600px) {
  :root {
    --large-font-size: 17vw;
    --large-line-height: 14vw;
  }

  .carpetInfo .description,
  .carpetSpecifications {
    font-size: 0.8em;
    line-height: 1em;
  }

  .copyrightNotice {
    z-index: 5;
  }
}
